<html>
    <head>
        <title>Predict</title>
    </head>
    <body>
        <form action="predict" method="post">
            <h4>Age</h4>
            <input type="number" name="age" placeholder="Enter Age in number" required='required'>
            <br>
            <h4>Balance</h4>
            <input type="number" step="any" name="balance" placeholder="Enter Balance in number" required='required'>
            <br>
            <h4>Duration</h4>
            <input type="number" step="any" name="duration" placeholder="Enter Duration in number" required='required'>
            <br>
            <h4>Campaign</h4>
            <input type="number" name="campaign" placeholder="Enter Campaign in number" required='required'>
            <br>
            <h4>Previous</h4>
            <input type="number" name="previous" placeholder="Enter Previous in number" required='required'>
            <br>
            <h4>Marital State</h4>
            <input type="number" name="marital" placeholder="Enter 1 for single else 0" required='required'>
            <br>
            <h4>Default</h4>
            <input type="number" name="default" placeholder="Enter 1 if yes else 0" required='required'>
            <br>
            <h4>Housing</h4>
            <input type="number" name="housing" placeholder="Enter 1 if yes else 0" required='required'>
            <br>
            <h4>Loan</h4>
            <input type="number" name="loan" placeholder="Enter 1 if yes else 0" required='required'>
            <br>
            <h4>Contact</h4>
            <input type="number" name="contact_others" placeholder="Enter 1 if others else 0" required='required'>
            <br>
            <br>
            <input type="number" name="contact_telephone" placeholder="Enter 1 if phone else 0" required='required'>
            <br>
            <h4>poutcome</h4>
            <input type="number" name="poutcome_other" placeholder="Enter 1 if others else 0" required='required'>
            <br>
            <br>
            <input type="number" name="poutcome_success" placeholder="Enter 1 if success else 0" required='required'>
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>